<div class="flex fixed w-full bg-white z-10 px-2 py-1 shadow-lg">
    <div class="flex items-center justify-between w-full px-1">
        <ul class="flex flex-row">
            <li *ngFor="let item of items" class="m-1 p-1 hover:text-blue-500 cursor-pointer">{{item}}</li>
        </ul>
        <div class="flex border border-gray-500 px-1 items-center rounded-sm">
            <input class="outline-none border-none p-1 bg-transparent" type="text" placeholder="Search...">
            <img class="w-6 h-6 cursor-pointer" src="../../../assets/search.svg" alt="">
        </div>
    </div>
</div>