<div>
    <div class="flex w-full h-screen items-center justify-center">
        <div class="flex w-1/2 shadow-lg rounded-md overflow-hidden">
            <div class="w-1/2 h-full">
                <img src="../../../assets/home.jpg" alt="">
            </div>

            <!-- register -->
            <div class="w-1/2 p-2" *ngIf="!isLoginMode; else login">
                <form [formGroup]="signupForm" (ngSubmit)="signup()">
                    <div class="m-1 p-2">
                        <p class="text-lg font-bold">Create Account</p>
                    </div>
                    <div class="border border-gray-200 p-2 rounded-md m-1">
                        <input formControlName="name" class="border-none outline-none w-full h-full" type="text"
                            placeholder="Name">
                    </div>
                    <span class="p-1 m-1 text-sm text-red-800"
                        *ngIf="signupForm.controls.name.invalid && (signupForm.controls.name.dirty || signupForm.controls.name.touched)">Name
                        is required*</span>
                    <div class="border border-gray-200 p-2 rounded-md m-1">
                        <input formControlName="phone" class="border-none outline-none w-full h-full" type="text"
                            placeholder="Phone">
                    </div>
                    <span class="p-1 m-1 text-sm text-red-800"
                        *ngIf="signupForm.controls.phone.invalid && (signupForm.controls.phone.dirty || signupForm.controls.phone.touched)">Phone
                        is required*</span>
                    <div class="border border-gray-200 p-2 rounded-md m-1">
                        <input formControlName="email" class="border-none outline-none w-full h-full" type="text"
                            placeholder="Email">
                    </div>
                    <span class="p-1 m-1 text-sm text-red-800"
                        *ngIf="signupForm.controls.email.invalid && (signupForm.controls.email.dirty || signupForm.controls.email.touched)">Email
                        is required*</span>
                    <div class="border border-gray-200 p-2 rounded-md m-1">
                        <input formControlName="password" class="border-none outline-none w-full h-full" type="text"
                            placeholder="Password">
                    </div>
                    <span class="p-1 m-1 text-sm text-red-800"
                        *ngIf="signupForm.controls.password.invalid && (signupForm.controls.password.dirty || signupForm.controls.password.touched)">Password
                        is required*</span>
                    <div class="p-1 flex flex-col justify-center items-center">
                        <button type="submit" class="bg-red-500 text-white p-2 w-full rounded-md"
                            [disabled]="!signupForm.valid">SIGN UP</button>
                        <p class="my-2">Have an account? <span class="text-blue-500 cursor-pointer"
                                (click)="toggleAuthMode()">Sign in</span> </p>
                    </div>
                </form>
            </div>

            <!-- login -->
            <ng-template #login>
                <div class="w-1/2 p-2">
                    <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
                        <div class="m-1 p-2">
                            <p class="text-lg font-bold">Login</p>
                        </div>
                        <div class="border border-gray-200 p-2 rounded-md m-1">
                            <input formControlName="email" class="border-none outline-none w-full h-full" type="text"
                                placeholder="Email">
                        </div>
                        <span class="p-1 m-1 text-sm text-red-800"
                            *ngIf="loginForm.controls.email.invalid && (loginForm.controls.email.dirty || loginForm.controls.email.touched)">Email
                            is required*</span>
                        <div class="border border-gray-200 p-2 rounded-md m-1">
                            <input formControlName="password" class="border-none outline-none w-full h-full" type="text"
                                placeholder="Password">
                        </div>
                        <span class="p-1 m-1 text-sm text-red-800"
                            *ngIf="loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched)">Password
                            is required*</span>
                        <div class="p-1 flex flex-col justify-center items-center">
                            <button type="submit" class="bg-red-500 text-white p-2 w-full rounded-md"
                                [disabled]="!loginForm.valid">LOGIN</button>
                            <p class="my-2">Don't have an account? <span class="text-blue-500 cursor-pointer"
                                    (click)="toggleAuthMode()">LOG IN</span>
                            </p>
                            <p class="text-sm cursor-pointer">Forgot password?</p>
                        </div>
                    </form>
                </div>
            </ng-template>
        </div>
    </div>
</div>