<div class="search-bar">
	<div class="destinations">
		<div class="input-container">
			<label>Destination</label>
			<input type="text" />
		</div>
	</div>
	<div class="destinations">
		<div class="date-range">
			<div class="input-container">
				<label>Start Date</label>
				<input type="date" />
			</div>
			<div class="input-container">
				<label>End Date</label>
				<input type="date" />
			</div>
		</div>
	</div>
	<div class="destinations">
		<div class="date-range">
			<div class="input-container">
				<label>Guests</label>
				<input type="number" />
			</div>
			<div class="input-container">
				<label>Room</label>
				<input type="number" />
			</div>
		</div>
	</div>
	<div class="destinations">
		<div class="input-container">
			<button>search</button>
		</div>
	</div>
</div>