<div class="w-full h-screen relative flex items-center justify-center">
    <img class="h-full w-full object-cover" src="../../../assets/couch.jpg" alt="">

    <div class="absolute text-white w-1/2 rounded-md p-1">
        <p class="text-[80px]">Empowering Your Real Estate Vision</p>
        <p class="text-xl">Nurturing and guiding your real estate aspirations, empowering you to achieve your vision of
            the perfect
            property investment and future home.</p>
    </div>
</div>