<div class="auth">
	<!-- register form -->
	<div class="auth" *ngIf="!loginPage; else elseBlock">
		<form [formGroup]="registerForm" (ngSubmit)="_submitRegisterForm()">
			<div class="img-div">
				<img src="https://cdn.pixabay.com/photo/2022/05/10/16/13/building-7187496_1280.jpg" alt="hotel-img"/>
			</div>
			<div class="form-elements">
				<div class="header"><p>Register Here</p></div>
				<label *ngIf="registerForm.controls.name.invalid && (registerForm.controls.name.touched || registerForm.controls.name.dirty)">Name is required<sup>*</sup></label>
				<input formControlName="name" type="text" placeholder="Name" />
				<label *ngIf="registerForm.controls.email.invalid && (registerForm.controls.email.touched || registerForm.controls.email.dirty)">Email is required<sup>*</sup></label>
				<input formControlName="email" type="text" placeholder="Email" />
				<label *ngIf="registerForm.controls.password.invalid && (registerForm.controls.password.touched || registerForm.controls.password.dirty)">Password is required<sup>*</sup></label>
				<input formControlName="password" type="password" placeholder="Password" />
				<button type="submit" [disabled]="!registerForm.valid">submit</button>
				<div class="footer">
					<p>Already have an account?<span (click)="changeLoginPage()">Login</span></p>
				</div>
			</div>
		</form>
	</div>

	<!-- login page -->
	<ng-template #elseBlock class="auth">
		<form [formGroup]="loginForm" (ngSubmit)="_login()">
		<div class="img-div">
			<img src="https://cdn.pixabay.com/photo/2018/08/27/15/28/hotel-3635248_1280.png" alt="hotel-img"/>
		</div>
		<div class="form-elements">
			<div class="header"><p>Login Here</p></div>
			<label *ngIf="loginForm.controls.email.invalid && (loginForm.controls.email.touched || loginForm.controls.email.dirty)">Email is required<sup>*</sup></label>
			<input formControlName="email" type="text" placeholder="Email" />
			<label *ngIf="loginForm.controls.password.invalid && (loginForm.controls.password.touched || loginForm.controls.password.dirty)">Password is required<sup>*</sup></label>
			<input formControlName="password" type="password" placeholder="Password" />
			<button type="submit" [disabled]="!loginForm.valid">submit</button>
			<div class="footer">
				<p>Don't have an account?<span (click)="changeLoginPage()">Signup</span></p>
			</div>
		</div>
	</form>
	</ng-template>
</div>