input {
	margin: 5px 0;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 4px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    :focus{
        color: #212529;
        background-color: #fff;
        border-color: #86b7fe;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
    }
}

button {
	margin: 5px 0;
    cursor: pointer;
    outline: 0;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    :hover {
        color: #fff;
        background-color: #0b5ed7;
        border-color: #0a58ca;
    }
}


.auth {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}


form {
	width: 50%;
	display: flex;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header p {
	font-size: 40px;
	margin: 5px 0;
}

.img-div {
	width: 50%;
}

.img-div img {
	width: 100%;
	object-fit: cover;
	height: 100%;
}

.form-elements {
	width: 50%;
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 5px;
}

.footer span {
	color:blue;
	margin: 0 5px;
}

.footer span:hover {
	cursor: pointer;
}

label {
	color:red;
}
